.container-fluid{
    background-color: ghostwhite;
}

h3{
    color:indigo;
    text-transform: uppercase;
    font-weight: bold;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.link{
    font-size: 18px;
    color:maroon;
}

.center-image{

    display: block;
    margin: auto;
}


